.services {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    &-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 24%;
        &-svg{
            fill: #555555;
            margin-bottom: 30px;
        }
        &-title {
            width: 100%;
            text-align: center;
            font-family: Raleway;
            font-size: 22px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
            margin-bottom: 20px;
        }
        &-des {
            margin: 0;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #8c8c8c;
            margin-bottom: 30px;
        }
        &:after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
        }
        &:hover:after {
            background-color: #c7b299;
        }   
        &:hover .services-block-svg {
            fill: #c7b299;
        }
        &:hover .services-block-title {
            color: #c7b299;
        }
    }
}

.realization {
    box-sizing: border-box;
    height: 700px;
    padding: 80px 345px 0 345px;
    background-color: #fbfaf8;
    background-origin: content-box;   
    background-image: url(../img/browser_center.jpg),
                      url(../img/browser_left.jpg),
                      url(../img/browser_right.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom, left bottom, right bottom;
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    &-title {
        width: 100%;
        text-align: center;
        font-family: Raleway;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin-bottom: 18px;
    }
    &-des {
        width: 65.8%;
        margin: 0;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
    }
}

.tb {    
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    &-wrap{
        display: flex;
        justify-content: space-between;
    }
    &-txt{
            &-title {
            font-family: Raleway;
            font-size: 28px;
            line-height: 1.2;
            font-weight: 400;            
            color: #ffffff;
            &-waxom {
                color: #c7b299;
            }
        }
        &-des {
            margin: 0;
            padding: 0;
            font-family: Montserrat;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            color: #615855;
        }
    }
}

.latest-projects{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__title{
        font-family: Raleway;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    &__des{
        width: 65%;
        padding: 0;
        margin: 0 auto;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        margin-bottom: 30px;
    }
    &__nav{
        width: 100%;
        display: flex;
        justify-content: center;
        &-button{
            font-family: Montserrat;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: #8c8c8c;
            border: none;
            outline: none;
            width: 120px;
            height: 32px;
            border: 1.0px solid #ebebeb;
            border-radius: 3.0px;
            margin: 5px;
            &:hover{
                background-color: #998675;
                color: #ffffff;
            }
        }
    }
    &__link{
        display: block;
        display: flex;
        flex-wrap: wrap;
        width: 370px;
        text-decoration: none;
        margin: 15px 0;
        position: relative;
        &:hover .btn-link{
            display: block;
        }
        &:hover .btn-search{
            display: block;
        }
        &:hover .latest-projects__link-img{
            filter: brightness(45%);
        }
        &:hover .latest-projects__link-wrap{
            background-color: #362f2d;
        }
        &:hover .latest-projects__link-wrap:before{
            border-bottom: 10px solid #362f2d;
        }
        &:hover .latest-projects__link-wrap-title{
            font-family: Raleway;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
        }
        &:hover .latest-projects__link-wrap-des{
            font-family: Montserrat;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
                color: #c7b299;
        }
        &-img{
            display: block;
            }
        &-wrap{
            display: flex;
            flex-wrap: wrap;
            padding: 28px;
            box-sizing: border-box;
            height: 100px;
            background-color: #fbfaf8;
            position: relative;
            &-title{
                width: 100%;
                font-family: Raleway;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
                color: #c7b299;
            }
            &-des{
                width: 100%;
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #d1d1d1;
            }
            &::before{
                content: "";
                border: 10px solid transparent;	
                border-bottom: 10px solid #fbfaf8;
                position: absolute;
                top: -20px;   
                left: 19px;
            }
        }
        &-button{
            width: 26px;
            height: 26px;
            display: none;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 106px;   
            fill: #ffffff;  
            &:hover {
                fill: #c7b299;
            }          
        }       
    }
    &__more{   
        margin: 0 auto;
        margin-top: 15px;
        border: none;
        outline: none;
    }
}

.btn-link{
    left: 144px;
}

.btn-search {
    right: 144px;
}
